/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 18, 2015, 7:27:18 AM
    Author     : INTERNET
*/

#XXsidebarLeft {
    border: thin solid lightGray;
    padding: 5px;
    width: 200px;
    background: #eeeeee;
}
#XXcontent {
    padding: 0px;
    border: thin solid lightGray;
    background: #fefeef;
    position: absolute;
    right: 8px;
    left: 230px;
    top: 300px;
}
