<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <!--        <ui:insert name="title">Common Layout</ui:insert>-->
        <meta charset="utf-8"/> 
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <f:loadBundle basename="com.fbaa.jsf.resources.mensajes" var="msg"/>
        <h:outputStylesheet name="bootstrap-3.3.4/css/bootstrap.min.css"/>
        <h:outputStylesheet name="bootstrap-3.3.4/css/bootstrap-theme.min.css"/>
        <h:outputStylesheet name="css/jpcss.css"/>
        <h:outputScript library="js" name="jquery-2.1.3.min.js" target="head"/> 



        <!--        <script>
                    $ = jQuery;
                    // Then you can use it
                    $(document).ready(function () {
                        // alert("Loaded");
        
                        $("#registoVoluntarios\\:fechaIngresoDp").click({alert("The paragraph was clicked.")});
        
        
                    });
                </script>-->

    </h:head>
    <h:body>

        <div class="page-container">

            <!-- top navbar -->
            <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".sidebar-nav">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <ui:insert name="header" >
                            <ui:include src="/templates/commonHeader.xhtml" />
                        </ui:insert>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row row-offcanvas row-offcanvas-left">

                    <!-- sidebar -->
                    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
                        <div data-spy="affix" data-offset-top="45" data-offset-bottom="90">
                            <ui:insert name="sidebarLeft">
                                <ui:include src="/templates/commonLeftMenu.xhtml"/>
                            </ui:insert>
                        </div>
                    </div>

                    <!-- main area -->
                    <br/>
                    <br/>
                    <ui:insert name="content" >
                        <ui:include src="/templates/commonContent.xhtml" />
                    </ui:insert>
                </div><!--/.row-->
            </div><!--/.container-->
        </div><!--/.page-container-->


        <div id="footer"><!--footer-->
            <div class="container">

                <ui:insert name="footer" >
                    <ui:include src="/templates/commonFooter.xhtml" />
                </ui:insert>

            </div><!--/container-->
        </div><!--/footer-->
    </h:body>
</html>

