<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition>
            <br/>
            <br/>
            <br/>
            <div class="row">
                <ul class="list-unstyled">
                    <li class="col-sm-4 col-xs-6">
                        <a href="#">Acerca</a>
                    </li>
                    <li class="col-sm-4 col-xs-6">
                        <a href="#">Servicios</a>
                    </li>
                    <li class="col-sm-4 col-xs-6">
                        <a href="#">Studies</a>
                    </li>
                    <li class="col-sm-4 col-xs-6">
                        <a href="#">References</a>
                    </li>
                    <li class="col-sm-4 col-xs-6">
                        <a href="#">Login</a>
                    </li>
                    <li class="col-sm-4 col-xs-6">
                        <a href="#">Press</a>
                    </li>
                    <li class="col-sm-4 col-xs-6">
                        <a href="#">Contacto</a>
                    </li>

                </ul>
            </div>
            <div class="center-block">
                <h4>Juan Pablo Alvis, Universidad EAN, Practica Social - Semestre I 2015</h4>
            </div>


        </ui:composition>
    </h:body>
</html>

