<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title><ui:insert name="title">Default Title</ui:insert></title>
    </h:head>
    <h:body>
        <ui:debug/>
        <div class="heading">
            <ui:insert name="heading"/>
        </div>

        <div class="content">
            <ui:insert name="content"/>
        </div>
    </h:body>
</html>

