<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/pages/templates/bootstrap.xhtml" xmlns="http://www.w3.org/1999/xhtml">
 
    <ui:define name="content">
        <h1>About</h1>
        <p>Etiam dictum massa et justo auctor euismod. Duis id tortor sit amet leo iaculis consequat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla mauris erat, molestie nec leo vel, tempor tempus leo. Quisque arcu erat, volutpat a sapien eget, mollis accumsan ante. Vivamus semper interdum nunc, ac accumsan ipsum. Cras vitae ultrices velit. Praesent vehicula quam velit. Donec auctor est at fermentum dignissim. Phasellus facilisis leo dolor, quis ullamcorper metus sagittis vel. Nullam in eleifend ante, pharetra dignissim orci. Etiam fringilla lorem eu rhoncus tempor. </p>
    </ui:define>
 
</ui:composition>