<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title><h:outputText value="#{msg['app_titulo_fbaa']}" /></title>
    </h:head>
    <h:body>
        <ui:composition template="/templates/commonLayout.xhtml">

            <ui:define name="content">

                <script type="text/javascript">
                    $ = jQuery;
                    $(function () {

                    });

                </script>
                <div class="col-xs-12 col-sm-9" data-spy="scroll" data-target="#sidebar-nav">
                    <br/>
                    <br/>


                    <h:form id="crearEps">
                        <h:panelGrid id="panel1" columns="3" border="1"
                                     cellpadding="5" cellspacing="1">
                            <f:facet name="header">
                                <h:outputText value="Ingresar nueva EPS"/>
                            </f:facet>
                            <h:outputLabel value="Nombre EPS:"/>
                            <h:inputText value="#{epsBean.EPS.nombreEPS}" id="nombreEps" validator="#{epsBean.validarCrearEps}" lang="es" requiredMessage="#{msg['app.generico.falta_o_tiene_un_valor_invalido']}" required="true">
                                <f:validateLength minimum="2"/>
                                <f:ajax event="keyup" render="errorNombre" />
                            </h:inputText>
                            <h:message for="nombreEps" style="color: red" id="errorNombre"/>

                            <f:facet name="footer">
                                <h:commandButton value="Guardar" action="#{epsBean.crearEPS}" class="btn btn-default btn-primary" >
                                    <!--                                    <f:ajax render="nombreEps formComboEps" execute="@form"/>-->
                                </h:commandButton>
                            </f:facet>
                        </h:panelGrid>
                    </h:form>
                    <br/>
                    <br/>
                    <h:form id="formComboEps">
                        <h:panelGrid id="panel2" columns="3" border="1"
                                     cellpadding="5" cellspacing="1">
                            <f:facet name="header">
                                <h:outputText value="Actualizar /Elinimar información de EPSs"/>
                            </f:facet>

                            <h:outputLabel value="Seleccione EPS"/>
                            <h:selectOneMenu value="#{epsBean.EPS.id}" id="ulist">
                                <f:selectItem itemValue="#{null}" itemLabel="Seleccione uno"/>
                                <f:selectItems value="#{epsBean.EPSsList}" var="epsIt" itemValue="#{epsIt.id}" itemLabel="#{epsIt.nombreEPS}" />
                                <f:ajax event="change" render="uid uname" listener="#{epsBean.obtenerEPS}"/>
                            </h:selectOneMenu>
                            <h:message for="ulist"/>

                            <h:outputLabel value="Identificación EPS"/>
                            <h:inputText value="#{epsBean.EPS.id}" id="uid" readonly="true"/>
                            <h:message for="uid"/>

                            <h:outputLabel value="Nombre EPS:"/>
                            <h:inputText value="#{epsBean.EPS.nombreEPS}" id="uname" lang="es" requiredMessage="#{msg['app.generico.falta_o_tiene_un_valor_invalido']}" required="true" >
                                <f:validateLength minimum="2"/>
                                <f:ajax event="keyup" render="errorNombreAct" />
                            </h:inputText>
                            <h:message for="uname" style="color: red" id="errorNombreAct"/>

                            <f:facet name="footer">
                                <h:outputLabel value="#{epsBean.msg}" id="msg2" styleClass="msg"/>
                                <h:commandButton value="Actualizar EPS" action="#{epsBean.actualizarEPS}" class="btn btn-default btn-primary" >
                                    <f:ajax render="ulist uid uname msg2" execute="@form"/>
                                </h:commandButton>
                                <h:commandButton value="Eliminar EPS" action="#{epsBean.eliminarEPS}" class="btn btn-default btn-primary">
                                    <f:ajax render="ulist uid uname msg2" execute="@form"/>
                                </h:commandButton>
                            </f:facet>
                        </h:panelGrid>
                    </h:form>
                    <!--                    <h:messages/>-->
                </div>
                <h:outputStylesheet name="bootstrap-3.3.4/css/bootstrap-datetimepicker.min.css"/>
                <script src="../resources/bootstrap-3.3.4/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
                <!--                <link href="../resources/bootstrap-3.3.4/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css"/>-->
            </ui:define>

            <br/><br/>
            <br/><br/>
            <br/><br/>
        </ui:composition>
    </h:body>
</html>

