<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title><h:outputText value="#{msg['app_titulo_fbaa']}" /></title>
    </h:head>
    <h:body>
        <ui:composition template="/templates/commonLayout.xhtml">

            <ui:define name="content">

                <div class="col-xs-12 col-sm-9" data-spy="scroll" data-target="#sidebar-nav" id="formatoCertificacion">
                    <br/>
                    <br/>
                    <br/>
                    <h:form id="formHistoriaHoras">
<!--                        <h:outputText value="Historia de horas de #{busquedaVoluntario.voluntario.nombres} #{busquedaVoluntario.voluntario.apellidos}."/>-->
                        <br/>
                        <br/>
                        <br/>
                        <scriptCollector id="scriptCollector1" preRender="#{historiaHorasBean.getReporteHorasList(busquedaVoluntario.voluntario.cedula)}">
                            <h:dataTable value="#{historiaHorasBean.reporteHoras.registrosHoras}" var="o"
                                         styleClass="order-table"
                                         headerClass="order-table-header"
                                         rowClasses="order-table-odd-row,order-table-even-row"
                                         cellpadding="2"
                                         cellspacing="2"
                                         border="1"
                                         >

                                <h:column>
                                    <!-- column header -->
                                    <f:facet name="header">Cedula Voluntario  </f:facet>
                                    <!-- row record -->
                                    #{o.id_cedula}
                                </h:column>

                                <h:column>
                                    <f:facet name="header">Fecha registro  </f:facet>
                                    <h:outputText value="#{o.fecha}">
                                    <f:convertDateTime pattern="EEEEEE, dd 'de' MMMMMMMMM 'de' yyyy" />
                                    </h:outputText>
                                </h:column>

                                <h:column>
                                    <f:facet name="header">Tiempo registrado  </f:facet>
                                        #{o.tiempoGastado}
                                </h:column>


                            </h:dataTable>
                            <h:outputLabel value="Tiempo Total: "/>
                            <h:outputText value="#{historiaHorasBean.reporteHoras.totalHoras}"/>
                            <!--                        <h:message for="r5" style="color:red" />-->
                        </scriptCollector>
                        <br/>

                        <br/>                       
                        <h:outputText value="  "/>
                        <h:commandButton value="Regresar" action="#{navegacionBean.redirectToBuscarVoluntario()}" class="btn btn-default btn-primary" />
<!--                        <h:commandButton value="Generar PDF" action="#{certifiacionBean.PDF}" class="btn btn-default btn-primary" disabled="true"/>
                        <h:commandButton value="Generar Word" action="#{certifiacionBean.DOCX}" class="btn btn-default btn-primary"  disabled="true"/>-->
                    </h:form>
                </div>
                <div id="bypass"></div>
            </ui:define>
            <br/><br/>
            <br/><br/>
            <br/><br/>
        </ui:composition>
    </h:body>
</html>

