<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title><h:outputText value="#{msg['app_titulo_fbaa']}" /></title>
    </h:head>
    <h:body>
        <ui:composition template="/templates/commonLayout.xhtml">

            <ui:define name="content">

                <script type="text/javascript">
                    $ = jQuery;
                    $(function () {

                    });

                </script>
                <div class="col-xs-12 col-sm-9" data-spy="scroll" data-target="#sidebar-nav">
                    <br/>
                    <br/>


                    <h:form id="crearUniversidad">
                        <h:panelGrid id="panel1" columns="3" border="1"
                                     cellpadding="5" cellspacing="1">
                            <f:facet name="header">
                                <h:outputText value="Ingresar nueva universidad"/>
                            </f:facet>
                            <h:outputLabel value="NombreUnivesidad:"/>
                            <h:inputText value="#{universidadBean.universidad.nombreUniversidad}" id="nombreUniversidad" lang="es" requiredMessage="#{msg['app.generico.falta_o_tiene_un_valor_invalido']}" required="true">
                                <!--                                <f:validateRegex pattern="/^[a-z\u00A1-\uFFFF]*$/i" />-->
                                <f:validateLength minimum="3"/>
                                <f:ajax event="keyup" render="errorNombre" />
                            </h:inputText>
                            <h:message for="nombreUniversidad" style="color: red" id="errorNombre"/>

                            <f:facet name="footer">
                                <h:commandButton value="Guardar" action="#{universidadBean.crearUniversidad}" class="btn btn-default btn-primary" >
                                    <f:ajax render="nombreUniversidad formComboUniversidad" execute="@form"/>
                                </h:commandButton>
                            </f:facet>
                        </h:panelGrid>
                    </h:form>
                    <br/>
                    <br/>
                    <h:form id="formComboUniversidad">
                        <h:panelGrid id="panel2" columns="3" border="1"
                                     cellpadding="5" cellspacing="1">
                            <f:facet name="header">
                                <h:outputText value="Actualizar /Elinimar información de universidades"/>
                            </f:facet>

                            <h:outputLabel value="Seleccione Universidad:"/>
                            <h:selectOneMenu value="#{universidadBean.universidad.id}" id="ulist">
                                <f:selectItem itemValue="#{null}" itemLabel="Seleccione uno"/>
                                <f:selectItems value="#{commons.universidadesList}" var="univ" itemValue="#{univ.id}" itemLabel="#{univ.nombreUniversidad}" />
                                <f:ajax event="change" render="uid uname" listener="#{universidadBean.obtenerUniversidad}"/>
                            </h:selectOneMenu>
                            <h:message for="ulist"/>

                            <h:outputLabel value="Identificación Universidad:"/>
                            <h:inputText value="#{universidadBean.universidad.id}" id="uid" readonly="true"/>
                            <h:message for="uid"/>

                            <h:outputLabel value="Nombre universidad:"/>
                            <h:inputText value="#{universidadBean.universidad.nombreUniversidad}" id="uname" lang="es" requiredMessage="#{msg['app.generico.falta_o_tiene_un_valor_invalido']}" required="true" >
                                <f:validateLength minimum="3"/>
                                <f:ajax event="keyup" render="errorNombreAct" />
                            </h:inputText>
                            <h:message for="uname" id="errorNombreAct" style="color: red"/>

                            <f:facet name="footer">
<!--                                <h:outputLabel value="#{universidadBean.msg}" id="msg2" styleClass="msg"/>-->
                                <h:commandButton value="Actualizar Universidad" action="#{universidadBean.actualizarUniversidad}" class="btn btn-default btn-primary" >
                                    <f:ajax render="ulist uid uname msg2" execute="@form"/>
                                </h:commandButton>
                                <h:commandButton value="Eliminar Universidad" action="#{universidadBean.eliminarUniversidad}" class="btn btn-default btn-primary" >
                                    <f:ajax render="ulist uid uname msg2" execute="@form"/>
                                </h:commandButton>
                            </f:facet>
                        </h:panelGrid>
                    </h:form>
                </div>
                <h:outputStylesheet name="bootstrap-3.3.4/css/bootstrap-datetimepicker.min.css"/>
                <script src="../resources/bootstrap-3.3.4/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
                <!--                <link href="../resources/bootstrap-3.3.4/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css"/>-->
            </ui:define>

            <br/><br/>
            <br/><br/>
            <br/><br/>
        </ui:composition>
    </h:body>
</html>

