<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      template="/templates/bootstrap.xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <br/>
        <br/>
        <f:loadBundle basename="com.fbaa.jsf.resources.mensajes" var="msg"/>
        <!--        <meta charset="utf-8"/> 
                <meta name="viewport" content="width=device-width, initial-scale=1"/>
                
                <h:outputStylesheet name="bootstrap-3.3.4/css/bootstrap.min.css"/>
                <h:outputStylesheet name="bootstrap-3.3.4/css/bootstrap-theme.min.css"/>-->
        <ui:define name="title">
            <h:outputText value="Por favor ingrese sus datos" />
        </ui:define>

    </h:head>
    <h:body>

        <ui:composition template="/templates/commonLayout.xhtml">
            <ui:define name="content">
                <h1>Algo no está bien</h1>
                <h2>Ha ocurrido un error. Comuniquese con administrador</h2>
                <br />
                <h:outputText value="Error Code: #{errorHandler.statusCode}"></h:outputText>
                <br />
                <h:outputText value="Error Desscription: #{errorHandler.message}"></h:outputText>
                <br />
                <h:outputText value="Exception Type: #{errorHandler.exceptionType}"></h:outputText>
                <br />
                <h:outputText value="Exception Calss: #{errorHandler.exception}"></h:outputText>
                <br />
                <h:outputText value="Request URI : #{errorHandler.requestURI}"></h:outputText>
            </ui:define>
        </ui:composition>
        <br/>
        <br/>
        <br/>
        <br/>
    </h:body>
</html>

