<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      template="/templates/bootstrap.xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <br/>
        <br/>
        <f:loadBundle basename="com.fbaa.jsf.resources.mensajes" var="msg"/>
        <!--        <meta charset="utf-8"/> 
                <meta name="viewport" content="width=device-width, initial-scale=1"/>
                
                <h:outputStylesheet name="bootstrap-3.3.4/css/bootstrap.min.css"/>
                <h:outputStylesheet name="bootstrap-3.3.4/css/bootstrap-theme.min.css"/>-->
        <ui:define name="title">
            <h:outputText value="Por favor ingrese sus datos" />
        </ui:define>

    </h:head>
    <h:body>

        <ui:composition template="/templates/commonLayout.xhtml">
            <ui:define name="content">
                <br/>
                <h4>Bienvenidos a la página incial del programa de gestión de voluntariado de la Fundación Banco Arquiciocesano de Alimentos
                </h4>
                <h:form>
                    <h:outputText value="Bienvenido, #{loginBean.usuario}." rendered="#{loginBean.loggedIn}"/>                        
                    <h:commandLink action="#{loginBean.doLogout()}" value="Salir" rendered="#{loginBean.loggedIn}"/>
                </h:form>

                <br/>
                <h:graphicImage library="images" name="BancoFBAA.png" height="10%" width="10%" class="row text-center" />
                <br/>
                <f:view>
                    <br/>
                    <h:form id="ingresar">
                        <h:commandLink action="#{navegacionBean.toLogin()}" value="Ingresar" rendered="#{!loginBean.loggedIn}"/>


                        <br/>
                        <br/>
                    </h:form>
                </f:view> 
            </ui:define>
        </ui:composition>
        <br/>
        <br/>
        <br/>
        <br/>
    </h:body>
</html>

