<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <meta charset="utf-8"/> 
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <f:loadBundle basename="com.fbaa.jsf.resources.mensajes" var="msg"/>
        <h:outputStylesheet name="bootstrap-3.3.4/css/bootstrap.min.css"/>
        <h:outputStylesheet name="bootstrap-3.3.4/css/bootstrap-theme.min.css"/>
    </h:head>

    <h:body>
        <h:outputText value="#{msg['app_title']}" />

        <h:form>
            <h:panelGrid columns="3">
                <h:inputText id="inputTxt1" value="#{utils.nombre}" ></h:inputText>
                <h:commandButton id="cmdBtn1" value="Enviar A pagina 2" action="segundaPagina"  class="btn btn-default btn-primary"></h:commandButton>
                <h:outputText value="redirecciona a segundaPagina"></h:outputText>

                <h:inputText id="inputTxt4" value="#{utils.nombre}"/>
                <h:commandButton id="cmdBtn2" value="Actuliza ajax x por Output" class="btn btn-default btn-primary">
                    <f:ajax id="abtn" execute="inputTxt4" render="outTxt4"/>  
                </h:commandButton>
                <h:outputText id="outTxt4" value="#{utils.nombre.concat('  -- Así funciona Ajax por medio de un Boton') }"/> 

                <h:inputText id="inputTxt2" value="#{utils.nombre}">
                    <f:ajax id="aEvent" event="keyup" execute="inputTxt2" render="outTxt3" /> 
                </h:inputText>
                <h:outputText id="outTxt3" value="#{utils.nombre}"/> 
                <h:outputText value="Evento onKeyUp, que actualiza la etiqueta de la etiqueta inmediatamente siguiente"></h:outputText>

                <ui:repeat var="results" value="#{utils.results}">
<!--                                <p>#{results.pizza.nombre}</p>-->
                    <p>sizes: </p>
                    <h:selectOneRadio id="pizzasize" value="#{pizzaSearchBean.pizzasize}">
                        <h:selectOneRadio value="#{busquedaVoluntario.valLogro}">
                            <f:selectItems value="#{busquedaVoluntario.conpLogro}" />
                        </h:selectOneRadio>

<!--                                    <f:selectItems value="#{results.sizeList}" var="size"
               itemLabel="#{size.diameter}" itemValue="#{size.sizeId}" />-->



                    </h:selectOneRadio>


                </ui:repeat>

            </h:panelGrid>
        </h:form>

    </h:body>
</html>
